<app-header></app-header>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<app-footer></app-footer>

<script>
    $(document).ready(function () {
        $("#image-gallery").lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 9,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $("#image-gallery").removeClass("cS-hidden");
            },
        });
    });
</script>